<div class="cc-absolute cc-bottom-0 cc-left-0 cc-right-0 cc-top-0 cc-overflow-hidden">
    <div class="cc-flex cc-full-height cc-full-width cc-root--hover cc-root--dark">
        <div class="chat-page cc-flex cc-flex-grow-0 cc-flex-shrink-0 cc-full-height cc-full-width cc-overflow-hidden">
            <div class="chat-container cc-flex cc-flex-column cc-flex-grow-1 cc-flex-nowrap cc-full-height cc-full-width cc-relative">
                <app-chat-tabs class="cc-flex cc-flex-grow-1 cc-full-width">
                                    
                </app-chat-tabs>
            </div>
        </div>
    </div>
</div>