<div color="accent" class="cc-flex-grow-1 cc-margin-0 scrollbar" mat-dialog-content>
    <mat-form-field color="accent">
        <input matInput class="cc-pd-b-05" type="text" placeholder="Filter term" [(ngModel)]="filter">
    </mat-form-field>
    <div *ngIf="data.broadcaster.length > 0"class="cc-pd-1">
        <strong>Broadcaster</strong>
        <div *ngFor="let user of data.broadcaster">
            {{user}}
        </div>
    </div>
    <div *ngIf="data.moderators.length > 0" class="cc-pd-1">
        <strong>Moderators</strong>
        <div *ngFor="let user of data.moderators">
            {{user}}
        </div>
    </div>
    <div *ngIf="data.staff.length > 0" class="cc-pd-1">
        <strong>Staff</strong>
        <div *ngFor="let user of data.staff">
            {{user}}
        </div>
    </div>
    <div *ngIf="data.vips.length > 0" class="cc-pd-1">
        <strong>VIPs</strong>
        <div *ngFor="let user of data.vips">
            {{user}}
        </div>
    </div>
    <div *ngIf="data.viewers.length > 0" class="cc-pd-1">
        <strong>Viewers</strong>
        <div *ngFor="let user of data.viewers">
            {{user}}
        </div>
    </div>
</div>