<!-- Notifications -->

<!-- <div class="chat-room__notifications cc-absolute cc-full-width">

</div> -->
<div class="chat-list__lines cc-pd-t-1">
    <div #message *ngFor="let msg of messages">
        <div *ngIf="msg.isStatus" class="chat-line__status">
            <span>{{msg.text}}</span>
        </div>
        <div *ngIf="msg.isChat" class="chat-line__message">
            <span *ngIf="settings.badges"><img *ngFor="let badge of msg.badges" class="chat-badge" 
                [src]="service.badges[badge[0]] ? service.badges[badge[0]].versions[badge[1]].image_url_1x : null"
                /></span>
            <ng-container *ngIf="msg.isAction; else chatTemplate">
                <span class="message-author__display-name" [style.color]="msg.color">{{msg.username}} </span>
                <div [innerHtml]="msg.html" class="cc-inline" [style.color]="msg.color"></div>
            </ng-container>
            <ng-template #chatTemplate>
                <span class="message-author__display-name" [style.color]="msg.color">{{msg.username}}: </span>
                <div [innerHtml]="msg.html" class="cc-inline"></div>
            </ng-template>
        </div>
        <div *ngIf="msg.isBits && settings.bits" class="chat-line__message">
            <span *ngIf="settings.badges"><img *ngFor="let badge of msg.badges" class="chat-badge" 
                [src]="badges[badge[0]] ? badges[badge[0]].versions[badge[1]].image_url_1x : null"
                /></span>
            <span class="message-author__display-name" [style.color]="msg.color">{{msg.username}}: </span>
            <div [innerHtml]="msg.html"></div>
        </div>
        <div *ngIf="msg.isSub && settings.subs" class="chat-line__message">
            <div [innerHtml]="msg.html"></div>
        </div>
        <hr *ngIf="settings.separators" class="chat-line__separator">
    </div>
</div>