<div class="mat-app-background cc-full-height cc-flex cc-flex-column" [style.min-width.px]="showTabs ? tabWidth + contentWidth : contentWidth" [class.chat-light-theme]="settings.lightTheme">

    <div *ngIf="!connected || tabs.length == 0; else contentArea" class="mat-app-background cc-flex cc-flex-column cc-flex-auto">
        <div class="cc-flex cc-flex-column cc-flex-auto cc-justify-content-center cc-align-items-center">
            <span class="cc-font-size-4 cc-pd-b-1">Welcome to CChat!</span>            
            <mat-form-field color="accent" appearance="outline" class="cc-margin-0 cc-dialog">
                <mat-label>Enter a channel</mat-label>
                <input #noChannels matInput placeholder="Enter a channel" (keydown.enter)="addChannel(noChannels.value)" cdkFocusInitial [disabled]="!connected">
            </mat-form-field>
            <span *ngIf="connected" class="cc-font-size-6">Logged in as <strong>{{username}}</strong>! <a (click)="login(true)">Not you?</a></span>
            <span *ngIf="!connected" class="cc-font-size-6"><a (click)="login()">To get started, connect to your Twitch account</a></span>
        </div>
    </div>
    <ng-template #contentArea>
        <mat-sidenav-container class="cc-full-height cc-full-width">
            
            <!-- Chat Tab Area -->
            
            <mat-sidenav #drawer class="cc-relative" mode="side" [style.width.px]="tabWidth" [opened]="settings.drawer">
                
                <div class="cc-flex cc-flex-column cc-full-height">
                    <div class="cc-header cc-background-alt cc-flex-none">
                        <button mat-flat-button color="primary" class="cc-full-height cc-full-width cc-align-items-center cc-flex cc-justify-content-between" (click)="newTab()" tabindex="-1" style="border-radius: 0;">
                            <span class="cc-font-size-6">Add Channel</span>
                            <mat-icon aria-label="Add Channel" class="cc-pd-l-05">add</mat-icon>
                        </button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="cc-flex-auto scrollbar--hidden" [cdkDropListData]="tabs" (cdkDropListDropped)="dropped($event)" cdkDropList>
                        <div>
                            <div *ngFor="let tab of tabs" class="cc-relative cc-flex cc-flex-column cc-full-width" [class.tab-new-messages]="tab.newMessages" cdkDrag>
                                <button mat-flat-button class="tab-button cc-pd-x-05 cc-full-width" (click)="select(tab)" (dblclick)="rename(tab)" [color]="tab.active ? 'primary' : 'unset'" style="border-radius: 0;">
                                    <div class="cc-flex cc-flex-shrink-0 cc-justify-content-between cc-overflow-visible">
                                        <div class="cc-flex cc-full-width cc-relative" style="max-width: 80%">
                                            <div *ngIf="tab.mentions > 0" class="cc-font-size-6 notification-text">{{tab.mentions}}</div>
                                            <mat-icon class="cc-absolute" [class.default-indicator]="tab.mentions == 0" [class.notification-indicator]="tab.mentions > 0" [color]="tab.mentions > 0 ? 'accent' : tab.streamInfo._id ? 'warn' : 'auto'">lens</mat-icon>
                                            <div class="cc-flex cc-align-items-center cc-pd-l-3 cc-font-size-6 cc-overflow-visible">
                                                <img *ngIf="tab.channelInfo.logo"  [src]="tab.channelInfo.logo" class="avatar-tab-icon cc-inline-block cc-mg-r-05">
                                                <span class="cc-ellipsis">{{tab.channelDisplay}}</span>
                                            </div>
                                        </div>
                                        <button class="close-button" mat-icon-button (click)="remove(tab)" tabindex="-1">&times;</button>
                                    </div>
                                </button>
                                <div *ngIf="tab.newMessages" class="new-message-indicator"> </div> 
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-sidenav>

            <!-- Main Content Area -->

            <mat-sidenav-content [style.min-width]="contentWidth">
                <div class="cc-full-height cc-full-width cc-relative">
                    <div *ngFor="let tab of tabs" class="cc-absolute cc-full-height cc-full-width" [hidden]="!tab.active">

                        <!-- Chat Header -->

                        <div class="cc-flex cc-flex-column cc-full-height cc-full-width" [style.min-width]="contentWidth">

                            <div class="cc-flex-none">
                                <div class="cc-header cc-flex cc-flex-row cc-align-items-center cc-justify-content-between cc-pd-x-1 cc-alt-background">
                                    <div class="cc-align-items-center cc-align-middle cc-flex cc-font-size-6 cc-overflow-hidden cc-pd-r-1">
                                        <button mat-icon-button #tabButton (click)="drawer.toggle()" tabindex="-1">
                                            <mat-icon aria-label="Close Tabs">{{drawer.opened ? "chevron_left" : "chevron_right"}}</mat-icon>
                                        </button>
                                        <img *ngIf="tab.channelInfo.logo"  [src]="tab.channelInfo.logo" class="avatar-icon cc-inline cc-mg-r-05">
                                        {{tab.channelDisplay}}
                                        <span class="cc-pd-x-05" [style.color]="tab.streamInfo._id ? 'red' : 'grey'">●</span>
                                        <span *ngIf="tab.streamInfo.game" class="cc-font-size-8 cc-ellipsis">{{tab.streamInfo.game}}</span>
                                    </div>

                                    <button mat-button (click)="openSettings(tab)" tabindex="-1">
                                        <div class="cc-align-items-center cc-flex">
                                            <span class="cc-font-size-6">Settings</span>
                                            <mat-icon aria-label="Settings" class="cc-pd-l-05">settings</mat-icon>
                                        </div>
                                    </button>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                            
                            <!-- Chat -->

                            <div class="cc-flex-auto cc-flex cc-flex-column cc-full-height cc-pd-y-05">
                                <app-messages class="cc-flex-auto scrollbar" [settings]="settings" [service]="tab" style="min-width: 340px"></app-messages>
                        
                                <!-- Chat Input Box -->

                                <div class="cc-flex-none cc-pd-x-2 cc-pd-y-1">
                                    <app-chat-input class="chat-input cc-align-center" [service]="tab">
                                    </app-chat-input>
                                </div>
                            </div>

                        </div>

                    </div>
                </div> 
            </mat-sidenav-content>
            
        </mat-sidenav-container>
    </ng-template>
</div>