/* Alignment */

.cc-flex {
    display: flex;
}

.cc-flex-wrap {
    flex-wrap: wrap;
}

.cc-flex-nowrap {
    flex-wrap: nowrap;
}

.cc-flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.cc-inline-flex {
    display: inline-flex;
}

.cc-flex-column {
    flex-direction: column;
}

.cc-flex-row {
    flex-direction: row;
}

.cc-flex-column-reverse {
    flex-direction: column-reverse;
}

.cc-flex-row-reverse {
    flex-direction: row-reverse;
}

.cc-align-items-start {
    align-items: flex-start;
}

.cc-align-items-end {
    align-items: flex-end;
}

.cc-align-items-center {
    align-items: center;
}

.cc-align-items-baseline {
    align-items: baseline;
}

.cc-align-items-stretch {
    align-items: stretch;
}

.cc-align-self-auto {
    align-self: auto;
}

.cc-align-self-start {
    align-self: flex-start;
}

.cc-align-self-end {
    align-self: flex-end;
}

.cc-align-self-center {
    align-self: center;
}

.cc-align-self-baseline {
    align-self: baseline;
}

.cc-align-self-stretch {
    align-self: stretch;
}

.cc-justify-content-start {
    justify-content: flex-start;
}

.cc-justify-content-end {
    justify-content: flex-end;
}

.cc-justify-content-center {
    justify-content: center;
}

.cc-justify-content-between {
    justify-content: space-between;
}

.cc-justify-content-around {
    justify-content: space-around;
}

.cc-justify-content-evenly {
    justify-content: space-evenly;
}

.cc-align-content-start {
    align-content: flex-start;
}

.cc-align-content-end {
    align-content: flex-end;
}

.cc-align-content-center {
    align-content: center;
}

.cc-align-content-between {
    align-content: space-between;
}

.cc-align-content-around {
    align-content: space-around;
}

.cc-align-content-stretch {
    align-content: stretch;
}

.cc-flex-grow-0 {
    flex-grow: 0;
}

.cc-flex-grow-1 {
    flex-grow: 1;
}

.cc-flex-grow-2 {
    flex-grow: 2;
}

.cc-flex-grow-3 {
    flex-grow: 3;
}

.cc-flex-grow-4 {
    flex-grow: 4;
}

.cc-flex-shrink-0 {
    flex-shrink: 0;
}

.cc-flex-shrink-1 {
    flex-shrink: 1;
}

.cc-flex-shrink-2 {
    flex-shrink: 2;
}

.cc-flex-shrink-3 {
    flex-shrink: 3;
}

.cc-flex-shrink-4 {
    flex-shrink: 4;
}

.cc-item-order-0 {
    order: 0;
}

.cc-item-order-1 {
    order: 1;
}

.cc-item-order-2 {
    order: 2;
}

.cc-item-order-3 {
    order: 3;
}

.cc-item-order-4 {
    order: 4;
}

.cc-relative {
    position: relative;
}

.cc-absolute {
    position: absolute;
}

.cc-fixed {
    position: fixed;
}

.cc-top-0 {
    top: 0;
}

.cc-right-0 {
    right: 0;
}

.cc-bottom-0 {
    bottom: 0;
}

.cc-left-0 {
    left: 0;
}

.cc-z-above {
    z-index: 10;
}

.cc-z-default {
    z-index: 1;
}

.cc-z-below {
    z-index: -1;
}

.cc-align-top {
    vertical-align: top;
}

.cc-align-middle {
    vertical-align: middle;
}

.cc-align-bottom {
    vertical-align: bottom;
}

.cc-align-baseline {
    vertical-align: baseline;
}