.cc-background-body {
    background-color: #0f0e11!important;
}

.cc-root--dark .cc-background-body {
    background-color: #0f0e11!important;
}

.cc-root--light .cc-background-body {
    background-color: #faf9fa!important;
}

.cc-background-base {
    background-color: #19171c!important;
}

.cc-root--dark .cc-background-base {
    background-color: #19171c!important;
}

.cc-root--light .cc-background-base {
    background-color: #fff!important;
}

.cc-background-alt {
    background-color: #232127!important;
}

.cc-root--dark .cc-background-alt {
    background-color: #232127!important;
}

.cc-root--light .cc-background-alt {
    background-color: #faf9fa!important;
}

.cc-background-alt-2 {
    background-color: #322f37!important;
}

.cc-root--dark .cc-background-alt-2 {
    background-color: #322f37!important;
}

.cc-root--light .cc-background-alt-2 {
    background-color: #efeef1!important;
}

.cc-background-accent,.cc-root--dark .cc-background-accent,.cc-root--light .cc-background-accent {
    background-color: #4153a4!important;
}

.cc-background-accent-alt {
    background-color: #3156a7!important;
}

.cc-root--dark .cc-background-accent-alt {
    background-color: #3156a7!important;
}

.cc-root--light .cc-background-accent-alt {
    background-color: #85aadb!important;
}

.cc-background-accent-alt-2 {
    background-color: #2c2541!important;
}

.cc-root--dark .cc-background-accent-alt-2 {
    background-color: #2c2541!important;
}

.cc-root--light .cc-background-accent-alt-2 {
    background-color: #392e5c!important;
}

.cc-background-placeholder, .cc-root--dark .cc-background-placeholder, .cc-root--light .cc-background-placeholder {
    background-color: rgba(0,0,0,.05)!important;
}

.cc-background-overlay-placeholder,.cc-root--dark .cc-background-overlay-placeholder,.cc-root--light .cc-background-overlay-placeholder {
    background-color: hsla(0,0%,100%,.15)!important;
}

.cc-background-live,.cc-root--dark .cc-background-live,.cc-root--light .cc-background-live {
    background-color: #ec1313!important;
}

.cc-background-prime,.cc-root--dark .cc-background-prime,.cc-root--light .cc-background-prime {
    background-color: #0e9bd8!important;
}

.cc-background-tooltip {
    background-color: #0e0c13!important;
}

.cc-root--dark .cc-background-tooltip {
    background-color: #ffffff!important;
}

.cc-root--light .cc-background-tooltip {
    background-color: #0e0c13!important;
}

.cc-background-overlay,.cc-root--dark .cc-background-overlay,.cc-root--light .cc-background-overlay {
    background-color: rgba(0,0,0,.6)!important;
}

.cc-background-chat {
    background-color: #0e0c13!important;
}

.cc-root--dark .cc-background-chat {
    background-color: #0e0c13!important;
}

.cc-root--light .cc-background-chat {
    background-color: #faf9fa!important;
}

.cc-background-chat-alt {
    background-color: #201c2b!important;
}

.cc-root--dark .cc-background-chat-alt {
    background-color: #201c2b!important;
}

.cc-root--light .cc-background-chat-alt {
    background-color: #efeef1!important;
}

.cc-background-chat-header {
    background-color: #17141f!important;
}

.cc-root--dark .cc-background-chat-header {
    background-color: #17141f!important;
}

.cc-root--light .cc-background-chat-header {
    background-color: #faf9fa!important;
}

.cc-background-chat-line-mentioning {
    background-color: #433f4a!important;
}

.cc-root--dark .cc-background-chat-line-mentioning {
    background-color: #433f4a!important;
}

.cc-root--light .cc-background-chat-line-mentioning {
    background-color: #dad8de!important;
}

.cc-background-chat-line-mentioned {
    background-color: #faf9fa!important;
}

.cc-root--dark .cc-background-chat-line-mentioned {
    background-color: #faf9fa!important;
}

.cc-root--light .cc-background-chat-line-mentioned {
    background-color: #0f0e11!important;
}

.cc-background-modal-overlay,.cc-root--dark .cc-background-modal-overlay,.cc-root--light .cc-background-modal-overlay {
    background-color: rgba(0,0,0,.6)!important;
}

.cc-background-modal {
    background-color: #fff!important;
}

.cc-root--dark .cc-background-modal {
    background-color: #201c2b!important;
}

.cc-root--light .cc-background-modal {
    background-color: #fff!important;
}

.cc-background-scrollbar {
    background-color: #201c2b!important;
}

.cc-root--dark .cc-background-scrollbar {
    background-color: #201c2b!important;
}

.cc-root--light .cc-background-scrollbar {
    background-color: #000!important;
}

.chat-page {
    background: #0f0e11;
    color: #dad8de;
}

.cc-root--dark .chat-page {
    background: #0f0e11;
    color: #dad8de;
}

.cc-root--light .chat-page {
    background: #faf9fa;
    color: #19171c;
}
