.chat-badge {
    margin-bottom: .2rem;
    margin-right: .3rem;
    vertical-align: middle;
}

.cheermote-for-amount {
    display: table;
    margin: 0 auto;
}

.cheermote-image {
    -o-object-fit: contain;
    height: 40px;
    margin-right: .5rem;
    object-fit: contain;
    width: auto;
}

.cheermote-image--small {
    height: 35px;
    width: auto;
}

.cheermote-image--extra-small {
    height: 25px;
    margin-right: .2rem;
    width: auto;
}

.cheermote-image--extremely-small {
    height: 13px;
    margin-right: .1rem;
    width: auto;
}

.cheermote-image--inline {
    margin-left: 1px;
    vertical-align: middle;
}

.cheermote-amount,.cheermote-amount--medium {
    font-size: 1.6rem;
}

.cheermote-amount--small {
    font-size: 1.4rem;
}

.cheermote-amount--extremely-small {
    font-size: 1.1rem;
}

.cheermote-for-amount__display--table-cell {
    display: table-cell;
    vertical-align: middle;
}

.chat-list {
    overflow: hidden;
}

.chat-lines {
    line-height: 2rem;
}

.chat-container {
    min-height: 0;
}

.cc-header {
    height: 5rem;
}

.mod-icon {
    font-size: 1.6rem;
    outline: none;
}

.chat-username {
    cursor: pointer;
    outline: none;
    word-break: break-all;
}

.message-display-name {
    font-weight: 600;
}

.message-mod-icon {
    vertical-align: bottom;
}

.message-mod-icon {
    margin: 0 .2rem 0 0;
}

.message {
    word-wrap: break-word;
}

.user-notice-line {
    padding-left: 1.6rem;
}

.chat-message,.chat-moderation,.chat-status {
    padding: .5rem 2rem;
    word-wrap: break-word;
}

.chat-badge {
    margin-bottom: .2rem;
    margin-right: .3rem;
    vertical-align: middle;
}

.chat-cheer-amount {
    font-weight: 600;
}

.chat-emote,.chat-emote-button {
    margin: -.5rem 0;
    vertical-align: middle;
}

.chat-emote-button {
    cursor: pointer;
    display: inline-block;
    outline: none;
}

.more-messages {
    cursor: pointer;
}

.chat-line-separator {
    padding: 0;
    height: 1px;
}