.cc-dialog {
    margin: 0;
    border-radius: 4px;
    background: #232127;
    color: #faf9fa;
}

.cc-root--dark .cc-dialog {
    margin: 0;
    background: #232127;
    color: #faf9fa;
}

.cc-root--light .cc-dialog {
    margin: 0;
    background: #faf9fa;
}

.cc-dialog .mat-input-element {
    caret-color: #faf9fa;
}


.cc-root--dark .cc-dialog .mat-input-element {
    caret-color: #faf9fa;
}

.cc-root--light .cc-dialog .mat-input-element {
    caret-color: #faf9fa;
}

.cc-dialog .mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid) .mat-form-field-infix::after{
    color: #faf9fa;
}

.cc-root--dark .cc-dialog .mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid) .mat-form-field-infix::after{
    color: #faf9fa;
}

.cc-root--light .cc-dialog .mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid) .mat-form-field-infix::after{
    color: #faf9fa;
}

.cc-dialog .mat-form-field.mat-focused .mat-form-field-label {
    color: #faf9fa;
}

.cc-root--dark .cc-dialog .mat-form-field.mat-focused .mat-form-field-label {
    color: #faf9fa;
}

.cc-root--light .cc-dialog .mat-form-field.mat-focused .mat-form-field-label {
    color: #faf9fa;
}

.cc-dialog .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color:#faf9fa;
}

.cc-dialog .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color:#faf9fa;
}

.cc-root--light .cc-dialog .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color:#faf9fa;
}

.cc-dialog .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #faf9fa;
}

.cc-dialog .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #faf9fa;
}

.cc-root--light .cc-dialog .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #faf9fa;
}

.cc-dialog .mat-form-field-label {
    color: #faf9fa;
}

.cc-root--dark .cc-dialog .mat-form-field-label {
    color: #faf9fa;
}

.cc-root--light .cc-dialog .mat-form-field-label {
    color: #232127;
}

.cc-dialog .mat-form-field-underline  {
    background: #faf9fa;
}

.cc-root--dark .cc-dialog .mat-form-field-underline  {
    background: #faf9fa;
}

.cc-root--light .cc-dialog .mat-form-field-underline {
    background: #232127;
}

.cc-dialog .mat-dialog-container {
    margin: 0;
    border-radius: 4px;
    background: #232127;
}

.cc-root--dark .cc-dialog .mat-dialog-container {
    margin: 0;
    border-radius: 4px;
    background: #232127;
}

.cc-root--light .cc-dialog .mat-dialog-container {
    margin: 0;
    border-radius: 4px;
    background: #faf9fa;
}