
.cc-elevation-1 {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.34),0 2px 2px -2px rgba(0,0,0,.26),0 1px 4px 0 rgba(0,0,0,.28)!important;
}

.cc-root--dark .cc-elevation-1 {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.34),0 2px 2px -2px rgba(0,0,0,.26),0 1px 4px 0 rgba(0,0,0,.28)!important;
}

.cc-root--light .cc-elevation-1 {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04)!important;
}

.cc-elevation-2 {
    box-shadow: 0 4px 6px -2px rgba(0,0,0,.34),0 3px 4px -2px rgba(0,0,0,.26),0 1px 8px 0 rgba(0,0,0,.28)!important;
}

.cc-root--dark .cc-elevation-2 {
    box-shadow: 0 4px 6px -2px rgba(0,0,0,.34),0 3px 4px -2px rgba(0,0,0,.26),0 1px 8px 0 rgba(0,0,0,.28)!important;
}

.cc-root--light .cc-elevation-2 {
    box-shadow: 0 4px 6px -2px rgba(0,0,0,.1),0 3px 4px -2px rgba(0,0,0,.02),0 1px 8px 0 rgba(0,0,0,.04)!important;
}

.cc-elevation-3 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.34),0 1px 8px -3px rgba(0,0,0,.26),0 2px 16px 0 rgba(0,0,0,.28)!important;
}

.cc-root--dark .cc-elevation-3 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.34),0 1px 8px -3px rgba(0,0,0,.26),0 2px 16px 0 rgba(0,0,0,.28)!important;
}

.cc-root--light .cc-elevation-3 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.1),0 1px 8px -3px rgba(0,0,0,.02),0 2px 16px 0 rgba(0,0,0,.04)!important;
}

.cc-elevation-4 {
    box-shadow: 0 10px 14px 4px rgba(0,0,0,.34),0 6px 14px -6px rgba(0,0,0,.26),0 4px 24px 0 rgba(0,0,0,.28)!important;
}

.cc-root--dark .cc-elevation-4 {
    box-shadow: 0 10px 14px 4px rgba(0,0,0,.34),0 6px 14px -6px rgba(0,0,0,.26),0 4px 24px 0 rgba(0,0,0,.28)!important;
}

.cc-root--light .cc-elevation-4 {
    box-shadow: 0 10px 14px 4px rgba(0,0,0,.1),0 6px 14px -6px rgba(0,0,0,.02),0 4px 24px 0 rgba(0,0,0,.04)!important;
}

.cc-elevation-5 {
    box-shadow: 0 14px 20px 8px rgba(0,0,0,.34),0 10px 22px -8px rgba(0,0,0,.26),0 8px 38px 0 rgba(0,0,0,.28)!important;
}

.cc-root--dark .cc-elevation-5 {
    box-shadow: 0 14px 20px 8px rgba(0,0,0,.34),0 10px 22px -8px rgba(0,0,0,.26),0 8px 38px 0 rgba(0,0,0,.28)!important;
}

.cc-root--light .cc-elevation-5 {
    box-shadow: 0 14px 20px 8px rgba(0,0,0,.1),0 10px 22px -8px rgba(0,0,0,.02),0 8px 38px 0 rgba(0,0,0,.04)!important;
}