/* Margins */

.cc-mg-0 {
    margin: 0!important;
}

.cc-mg-05 {
    margin: .5rem!important;
}

.cc-mg-1 {
    margin: 1rem!important;
}

.cc-mg-2 {
    margin: 2rem!important;
}

.cc-mg-3 {
    margin: 3rem!important;
}

.cc-mg-4 {
    margin: 4rem!important;
}

.cc-mg-5 {
    margin: 5rem!important;
}

.cc-mg-6 {
    margin: 6rem!important;
}

.cc-mg-7 {
    margin: 7rem!important;
}

.cc-mg-8 {
    margin: 8rem!important;
}

.cc-mg-9 {
    margin: 9rem!important;
}

.cc-mg-10 {
    margin: 10rem!important;
}

.cc-mg-auto {
    margin: auto!important;
}

.cc-mg-t-0 {
    margin-top: 0!important;
}

.cc-mg-t-05 {
    margin-top: .5rem!important;
}

.cc-mg-t-1 {
    margin-top: 1rem!important;
}

.cc-mg-t-2 {
    margin-top: 2rem!important;
}

.cc-mg-t-3 {
    margin-top: 3rem!important;
}

.cc-mg-t-4 {
    margin-top: 4rem!important;
}

.cc-mg-t-5 {
    margin-top: 5rem!important;
}

.cc-mg-t-6 {
    margin-top: 6rem!important;
}

.cc-mg-t-7 {
    margin-top: 7rem!important;
}

.cc-mg-t-8 {
    margin-top: 8rem!important;
}

.cc-mg-t-9 {
    margin-top: 9rem!important;
}

.cc-mg-t-10 {
    margin-top: 10rem!important;
}

.cc-mg-t-auto {
    margin-top: auto!important;
}

.cc-mg-r-0 {
    margin-right: 0!important;
}

.cc-mg-r-05 {
    margin-right: .5rem!important;
}

.cc-mg-r-1 {
    margin-right: 1rem!important;
}

.cc-mg-r-2 {
    margin-right: 2rem!important;
}

.cc-mg-r-3 {
    margin-right: 3rem!important;
}

.cc-mg-r-4 {
    margin-right: 4rem!important;
}

.cc-mg-r-5 {
    margin-right: 5rem!important;
}

.cc-mg-r-6 {
    margin-right: 6rem!important;
}

.cc-mg-r-7 {
    margin-right: 7rem!important;
}

.cc-mg-r-8 {
    margin-right: 8rem!important;
}

.cc-mg-r-9 {
    margin-right: 9rem!important;
}

.cc-mg-r-10 {
    margin-right: 10rem!important;
}

.cc-mg-r-auto {
    margin-right: auto!important;
}

.cc-mg-b-0 {
    margin-bottom: 0!important;
}

.cc-mg-b-05 {
    margin-bottom: .5rem!important;
}

.cc-mg-b-1 {
    margin-bottom: 1rem!important;
}

.cc-mg-b-2 {
    margin-bottom: 2rem!important;
}

.cc-mg-b-3 {
    margin-bottom: 3rem!important;
}

.cc-mg-b-4 {
    margin-bottom: 4rem!important;
}

.cc-mg-b-5 {
    margin-bottom: 5rem!important;
}

.cc-mg-b-6 {
    margin-bottom: 6rem!important;
}

.cc-mg-b-7 {
    margin-bottom: 7rem!important;
}

.cc-mg-b-8 {
    margin-bottom: 8rem!important;
}

.cc-mg-b-9 {
    margin-bottom: 9rem!important;
}

.cc-mg-b-10 {
    margin-bottom: 10rem!important;
}

.cc-mg-b-auto {
    margin-bottom: auto!important;
}

.cc-mg-l-0 {
    margin-left: 0!important;
}

.cc-mg-l-05 {
    margin-left: .5rem!important;
}

.cc-mg-l-1 {
    margin-left: 1rem!important;
}

.cc-mg-l-2 {
    margin-left: 2rem!important;
}

.cc-mg-l-3 {
    margin-left: 3rem!important;
}

.cc-mg-l-4 {
    margin-left: 4rem!important;
}

.cc-mg-l-5 {
    margin-left: 5rem!important;
}

.cc-mg-l-6 {
    margin-left: 6rem!important;
}

.cc-mg-l-7 {
    margin-left: 7rem!important;
}

.cc-mg-l-8 {
    margin-left: 8rem!important;
}

.cc-mg-l-9 {
    margin-left: 9rem!important;
}

.cc-mg-l-10 {
    margin-left: 10rem!important;
}

.cc-mg-l-auto {
    margin-left: auto!important;
}

.cc-mg-y-0 {
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.cc-mg-y-05 {
    margin-bottom: .5rem!important;
    margin-top: .5rem!important;
}

.cc-mg-y-1 {
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;
}

.cc-mg-y-2 {
    margin-bottom: 2rem!important;
    margin-top: 2rem!important;
}

.cc-mg-y-3 {
    margin-bottom: 3rem!important;
    margin-top: 3rem!important;
}

.cc-mg-y-4 {
    margin-bottom: 4rem!important;
    margin-top: 4rem!important;
}

.cc-mg-y-5 {
    margin-bottom: 5rem!important;
    margin-top: 5rem!important;
}

.cc-mg-y-6 {
    margin-bottom: 6rem!important;
    margin-top: 6rem!important;
}

.cc-mg-y-7 {
    margin-bottom: 7rem!important;
    margin-top: 7rem!important;
}

.cc-mg-y-8 {
    margin-bottom: 8rem!important;
    margin-top: 8rem!important;
}

.cc-mg-y-9 {
    margin-bottom: 9rem!important;
    margin-top: 9rem!important;
}

.cc-mg-y-10 {
    margin-bottom: 10rem!important;
    margin-top: 10rem!important;
}

.cc-mg-y-auto {
    margin-bottom: auto!important;
    margin-top: auto!important;
}

.cc-mg-x-0 {
    margin-left: 0!important;
    margin-right: 0!important;
}

.cc-mg-x-05 {
    margin-left: .5rem!important;
    margin-right: .5rem!important;
}

.cc-mg-x-1 {
    margin-left: 1rem!important;
    margin-right: 1rem!important;
}

.cc-mg-x-2 {
    margin-left: 2rem!important;
    margin-right: 2rem!important;
}

.cc-mg-x-3 {
    margin-left: 3rem!important;
    margin-right: 3rem!important;
}

.cc-mg-x-4 {
    margin-left: 4rem!important;
    margin-right: 4rem!important;
}

.cc-mg-x-5 {
    margin-left: 5rem!important;
    margin-right: 5rem!important;
}

.cc-mg-x-6 {
    margin-left: 6rem!important;
    margin-right: 6rem!important;
}

.cc-mg-x-7 {
    margin-left: 7rem!important;
    margin-right: 7rem!important;
}

.cc-mg-x-8 {
    margin-left: 8rem!important;
    margin-right: 8rem!important;
}

.cc-mg-x-9 {
    margin-left: 9rem!important;
    margin-right: 9rem!important;
}

.cc-mg-x-10 {
    margin-left: 10rem!important;
    margin-right: 10rem!important;
}

.cc-mg-x-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}