.mat-menu-panel.emote-panel {
    max-width: 340px;
    min-width: 200px;
}

.mat-drawer-inner-container {
    overflow: hidden!important;
}

.notify-tab .mat-badge-content {
    font-size: inherit!important;
    margin-top: .25rem!important;
    margin-right: -1.2rem!important;
}