.mat-menu-panel.emote-panel {
    max-width: 340px;
    min-width: 200px;
}

.mat-drawer-inner-container {
    overflow: hidden!important;
}

.user-notice-icon {
    position: relative!important;
    margin-right: 2px!important;
    top: 5px!important;
    margin-top:-5px!important;
    opacity: .5!important;
    width: 20px!important;
    height:20px!important;
    font-size: 20px!important;
    overflow: visible!important;
    display: inline-block;
}

.mat-option.autocomplete {
    height: 30px!important;
    line-height: 30px!important;
}

.autocomplete .mat-option-text {
    font-size: 1.2rem!important;
}