/* Padding */

.cc-pd-0 {
    padding: 0!important;
}

.cc-pd-05 {
    padding: .5rem!important;
}

.cc-pd-1 {
    padding: 1rem!important;
}

.cc-pd-2 {
    padding: 2rem!important;
}

.cc-pd-3 {
    padding: 3rem!important;
}

.cc-pd-4 {
    padding: 4rem!important;
}

.cc-pd-5 {
    padding: 5rem!important;
}

.cc-pd-6 {
    padding: 6rem!important;
}

.cc-pd-7 {
    padding: 7rem!important;
}

.cc-pd-8 {
    padding: 8rem!important;
}

.cc-pd-9 {
    padding: 9rem!important;
}

.cc-pd-10 {
    padding: 10rem!important;
}

.cc-pd-t-0 {
    padding-top: 0!important;
}

.cc-pd-t-05 {
    padding-top: .5rem!important;
}

.cc-pd-t-1 {
    padding-top: 1rem!important;
}

.cc-pd-t-2 {
    padding-top: 2rem!important;
}

.cc-pd-t-3 {
    padding-top: 3rem!important;
}

.cc-pd-t-4 {
    padding-top: 4rem!important;
}

.cc-pd-t-5 {
    padding-top: 5rem!important;
}

.cc-pd-t-6 {
    padding-top: 6rem!important;
}

.cc-pd-t-7 {
    padding-top: 7rem!important;
}

.cc-pd-t-8 {
    padding-top: 8rem!important;
}

.cc-pd-t-9 {
    padding-top: 9rem!important;
}

.cc-pd-t-10 {
    padding-top: 10rem!important;
}

.cc-pd-r-0 {
    padding-right: 0!important;
}

.cc-pd-r-05 {
    padding-right: .5rem!important;
}

.cc-pd-r-1 {
    padding-right: 1rem!important;
}

.cc-pd-r-2 {
    padding-right: 2rem!important;
}

.cc-pd-r-3 {
    padding-right: 3rem!important;
}

.cc-pd-r-4 {
    padding-right: 4rem!important;
}

.cc-pd-r-5 {
    padding-right: 5rem!important;
}

.cc-pd-r-6 {
    padding-right: 6rem!important;
}

.cc-pd-r-7 {
    padding-right: 7rem!important;
}

.cc-pd-r-8 {
    padding-right: 8rem!important;
}

.cc-pd-r-9 {
    padding-right: 9rem!important;
}

.cc-pd-r-10 {
    padding-right: 10rem!important;
}

.cc-pd-b-0 {
    padding-bottom: 0!important;
}

.cc-pd-b-05 {
    padding-bottom: .5rem!important;
}

.cc-pd-b-1 {
    padding-bottom: 1rem!important;
}

.cc-pd-b-2 {
    padding-bottom: 2rem!important;
}

.cc-pd-b-3 {
    padding-bottom: 3rem!important;
}

.cc-pd-b-4 {
    padding-bottom: 4rem!important;
}

.cc-pd-b-5 {
    padding-bottom: 5rem!important;
}

.cc-pd-b-6 {
    padding-bottom: 6rem!important;
}

.cc-pd-b-7 {
    padding-bottom: 7rem!important;
}

.cc-pd-b-8 {
    padding-bottom: 8rem!important;
}

.cc-pd-b-9 {
    padding-bottom: 9rem!important;
}

.cc-pd-b-10 {
    padding-bottom: 10rem!important;
}

.cc-pd-l-0 {
    padding-left: 0!important;
}

.cc-pd-l-05 {
    padding-left: .5rem!important;
}

.cc-pd-l-1 {
    padding-left: 1rem!important;
}

.cc-pd-l-2 {
    padding-left: 2rem!important;
}

.cc-pd-l-3 {
    padding-left: 3rem!important;
}

.cc-pd-l-4 {
    padding-left: 4rem!important;
}

.cc-pd-l-5 {
    padding-left: 5rem!important;
}

.cc-pd-l-6 {
    padding-left: 6rem!important;
}

.cc-pd-l-7 {
    padding-left: 7rem!important;
}

.cc-pd-l-8 {
    padding-left: 8rem!important;
}

.cc-pd-l-9 {
    padding-left: 9rem!important;
}

.cc-pd-l-10 {
    padding-left: 10rem!important;
}

.cc-pd-y-0 {
    padding-bottom: 0!important;
    padding-top: 0!important;
}

.cc-pd-y-05 {
    padding-bottom: .5rem!important;
    padding-top: .5rem!important;
}

.cc-pd-y-1 {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}

.cc-pd-y-2 {
    padding-bottom: 2rem!important;
    padding-top: 2rem!important;
}

.cc-pd-y-3 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}

.cc-pd-y-4 {
    padding-bottom: 4rem!important;
    padding-top: 4rem!important;
}

.cc-pd-y-5 {
    padding-bottom: 5rem!important;
    padding-top: 5rem!important;
}

.cc-pd-y-6 {
    padding-bottom: 6rem!important;
    padding-top: 6rem!important;
}

.cc-pd-y-7 {
    padding-bottom: 7rem!important;
    padding-top: 7rem!important;
}

.cc-pd-y-8 {
    padding-bottom: 8rem!important;
    padding-top: 8rem!important;
}

.cc-pd-y-9 {
    padding-bottom: 9rem!important;
    padding-top: 9rem!important;
}

.cc-pd-y-10 {
    padding-bottom: 10rem!important;
    padding-top: 10rem!important;
}

.cc-pd-x-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.cc-pd-x-05 {
    padding-left: .5rem!important;
    padding-right: .5rem!important;
}

.cc-pd-x-1 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

.cc-pd-x-2 {
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}

.cc-pd-x-3 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

.cc-pd-x-4 {
    padding-left: 4rem!important;
    padding-right: 4rem!important;
}

.cc-pd-x-5 {
    padding-left: 5rem!important;
    padding-right: 5rem!important;
}

.cc-pd-x-6 {
    padding-left: 6rem!important;
    padding-right: 6rem!important;
}

.cc-pd-x-7 {
    padding-left: 7rem!important;
    padding-right: 7rem!important;
}

.cc-pd-x-8 {
    padding-left: 8rem!important;
    padding-right: 8rem!important;
}

.cc-pd-x-9 {
    padding-left: 9rem!important;
    padding-right: 9rem!important;
}

.cc-pd-x-10 {
    padding-left: 10rem!important;
    padding-right: 10rem!important;
}