.cc-font-size-1 {
    font-size: 4rem;
}

.cc-font-size-2 {
    font-size: 2.8rem;
}

.cc-font-size-3 {
    font-size: 2.4rem;
}

.cc-font-size-4 {
    font-size: 1.6rem;
}

.cc-font-size-5 {
    font-size: 1.4rem;
}

.cc-font-size-6 {
    font-size: 1.2rem;
}

.cc-font-size-7 {
    font-size: 1.1rem;
}

.cc-font-size-8 {
    font-size: 1rem;
}

.cc-font-size-base {
    font-size: 1.2rem;
}

.cc-align-text-top {
    vertical-align: text-top;
}

.cc-align-text-bottom {
    vertical-align: text-bottom;
}

.cc-text-base {
    color: #dad8de;
}

.cc-root--dark .cc-text-base {
    color: #dad8de;
}

.cc-root--light .cc-text-base {
    color: #19171c;
}

.cc-text-alt {
    color: #b8b5c0;
}

.cc-root--dark .cc-text-alt {
    color: #b8b5c0;
}

.cc-root--light .cc-text-alt {
    color: #322f37;
}

.cc-text-alt-2 {
    color: #898395;
}

.cc-root--dark .cc-text-alt-2 {
    color: #898395;
}

.cc-root--light .cc-text-alt-2 {
    color: #6e6779;
}

.cc-text-link {
    color: #b19dd8;
}

.cc-root--light .cc-text-link {
    color: #4750C0;
}

.cc-text-link-hover,.cc-root--dark .cc-text-link {
    color: #b19dd8;
}

.cc-root--light .cc-text-link-hover {
    color: #4750C0;
}

.cc-text-link-active,.cc-root--dark .cc-text-link-hover {
    color: #b19dd8;
}

.cc-root--light .cc-text-link-active {
    color: #4750C0;
}
/* was light active,  */
.cc-text-link-focus,.cc-root--dark .cc-text-link-active { 
    color: #b19dd8;
}

.cc-root--light .cc-text-link-focus {
    color: #4750C0;
}

.cc-text-link-visited,.cc-root--light .cc-text-link-focus {
    color: #4750C0;
}

.cc-root--dark .cc-text-link-visited {
    color: #b19dd8;
}

.cc-root--light .cc-text-link-visited {
    color: #4750C0;
}

.cc-text-alert,.cc-text-live,.cc-root--dark .cc-text-alert,.cc-root--dark .cc-text-live,.cc-root--light .cc-text-alert,.cc-root--light .cc-text-live {
    color: #ec1313;
}

.cc-text-prime,.cc-root--dark .cc-text-prime,.cc-root--light .cc-text-prime {
    color: #0e9bd8;
}

.cc-text-inherit,.cc-root--dark .cc-text-inherit,.cc-root--light .cc-text-inherit {
    color: inherit;
}

.cc-text-hint {
    color: #898395;
}

.cc-root--dark .cc-text-hint {
    color: #898395;
}

.cc-root--light .cc-text-hint {
    color: #6e6779;
}

.cc-text-error,.cc-root--dark .cc-text-error,.cc-root--light .cc-text-error {
    color: #ec1313;
}

.cc-text-tooltip {
    color: #0e0c13;
}

.cc-root--dark .cc-text-tooltip {
    color: #0e0c13;
}

.cc-root--light .cc-text-tooltip {
    color: #ffffff;
}

.cc-text-overlay,.cc-root--dark .cc-text-overlay,.cc-root--light .cc-text-overlay {
    color: #faf9fa;
}

.cc-text-overlay-alt,.cc-root--dark .cc-text-overlay-alt,.cc-root--light .cc-text-overlay-alt {
    color: #dad8de;
}

.cc-text-overlay-link,.cc-text-overlay-link-active,.cc-text-overlay-link-focus,.cc-text-overlay-link-hover,.cc-text-overlay-link-visited,.cc-root--dark .cc-text-overlay-link,.cc-root--dark .cc-text-overlay-link-active,.cc-root--dark .cc-text-overlay-link-focus,.cc-root--dark .cc-text-overlay-link-hover,.cc-root--dark .cc-text-overlay-link-visited,.cc-root--light .cc-text-overlay-link,.cc-root--light .cc-text-overlay-link-active,.cc-root--light .cc-text-overlay-link-focus,.cc-root--light .cc-text-overlay-link-hover,.cc-root--light .cc-text-overlay-link-visited {
    color: #b19dd8;
}

.cc-text-chat-line-mentioning {
    color: #ffffff;
}

.cc-root--dark .cc-text-chat-line-mentioning {
    color: #ffffff;
}

.cc-root--light .cc-text-chat-line-mentioning {
    color: #19171c;
}

.cc-text-chat-line-mentioned {
    color: #19171c;
}

.cc-root--dark .cc-text-chat-line-mentioned {
    color: #19171c;
}

.cc-root--light .cc-text-chat-line-mentioned {
    color: #ffffff;
}
