
.cc-textarea {
    appearance: none;
    background: #0f0e11;
    border: 1px solid #392e5c;
    color: #faf9fa;
    font-family: inherit;
    line-height: 1.5;
    outline: 0;
    padding: .5rem 1rem;
    resize: vertical;
    transition: box-shadow .1s ease-in,border .1s ease-in;
}

.cc-root--theme-dark .cc-textarea {
    background: #0f0e11;
    border: 1px solid #392e5c;
    color: #faf9fa;
}

.cc-root--theme-light .cc-textarea {
    background: #fff;
    border: 1px solid #dad8de;
    color: #433f4a;
}

.cc-textarea::placeholder {
    color: #898395;
}

.cc-root--theme-dark .cc-textarea::placeholder {
    color: #898395;
}


.cc-root--theme-light .cc-textarea::placeholder {
    color: #a49fad;
}

.cc-textarea::-ms-clear {
    display: none;
}


.cc-root--theme-dark .cc-textarea:focus,.cc-root--theme-light .cc-textarea:focus,.cc-textarea:focus {
    border-color: #7d5bbe;
    box-shadow: 0 0 6px -2px #7d5bbe;
}

.cc-root--theme-dark .cc-textarea--error,.cc-root--theme-light .cc-textarea--error,.cc-textarea--error {
    border-color: #ec1313;
    box-shadow: 0 0 0 1px #ec1313;
}

.cc-root--theme-dark .cc-textarea--error:focus,.cc-root--theme-light .cc-textarea--error:focus,.cc-textarea--error:focus {
    border-color: #ec1313;
    box-shadow: 0 0 6px -2px #ec1313;
}

.cc-textarea:disabled {
    opacity: .5;
    pointer-events: none;
}

.cc-textarea[cols] {
    max-width: 100%;
    width: auto;
}

.cc-textarea--no-resize {
    resize: none;
}