.cc-font-size-1 {
    font-size: 4rem;
}

.cc-font-size-2 {
    font-size: 2.8rem;
}

.cc-font-size-3 {
    font-size: 2.4rem;
}

.cc-font-size-4 {
    font-size: 1.6rem;
}

.cc-font-size-5 {
    font-size: 1.4rem;
}

.cc-font-size-6 {
    font-size: 1.2rem;
}

.cc-font-size-7 {
    font-size: 1.1rem;
}

.cc-font-size-8 {
    font-size: 1rem;
}

.cc-font-size-base {
    font-size: 1.2rem;
}

.cc-align-text-top {
    vertical-align: text-top;
}

.cc-align-text-bottom {
    vertical-align: text-bottom;
}
