<div class="cc-flex cc-flex-column">
    <mat-form-field class="cc-full-width cc-margin-0" appearance="outline" style="min-width: 200px;">
        <mat-label>Send a message</mat-label>
        <textarea matNativeControl #messageBox class="cc-font-size-6" style="padding-right: 3rem; max-height: 200px; min-height: 45px;"
        (keydown.enter)="send(messageBox.value); messageBox.value=''; $event.preventDefault();"  
        (keydown.tab)="tabcomplete(messageBox.value, messageBox.selectionStart, messageBox.selectionEnd); $event.preventDefault()"
        ></textarea>
    </mat-form-field>

    <div class="chat-input__buttons-container cc-flex cc-justify-content-between" style="min-width: 200px;">
        <div>
            <mat-menu #appMenu="matMenu">
                <div>Test</div>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon aria-label="Viewer List">list</mat-icon>
            </button>
        </div>
        <button mat-flat-button color="primary" data-a-target="chat-send-button" (click)="send(messageBox.value); messageBox.value='';">
            <span class="cc-font-size-6" data-a-target="cc-button-text">Send Message</span>
        </button>
    </div>
</div>