<!-- Notifications -->

<!-- <div class="chat-room__notifications cc-absolute cc-full-width">

</div> -->
<div class="chat-lines cc-word-break-word">
    <div #message *ngFor="let msg of messages">
            <mat-divider *ngIf="settings.separators" class="chat-line-separator cc-pd-y-05" style="margin:auto; width: 95%"></mat-divider>
        <div *ngIf="msg.isStatus" class="chat-status">
            <span>{{msg.text}}</span>
        </div>
        <div *ngIf="msg.isChat" class="chat-message">
            <span *ngIf="settings.badges"><img *ngFor="let badge of msg.badges" class="chat-badge" 
                [src]="service.badges[badge[0]] ? service.badges[badge[0]].versions[badge[1]].image_url_1x : null"
                /></span>
            <ng-container *ngIf="msg.isAction; else chatTemplate">
                <span class="message-display-name" [style.color]="msg.color">{{msg.username}} </span>
            </ng-container>
            <ng-template #chatTemplate>
                <span class="message-display-name" [style.color]="msg.color">{{msg.username}}: </span>
            </ng-template>
            <span *ngFor="let f of msg.fragments" [style.color]="f.color">
                <span [ngSwitch]="f.type">
                    <span *ngSwitchCase="'twitchEmote'"><img class="cc-inline-block chat-emote" [src]="f.src" [alt]="f.name" >&nbsp;</span>
                    <span *ngSwitchCase="'ffzEmote'"><img class="cc-inline-block chat-emote" [src]="f.src" [alt]="f.name" >&nbsp;</span>
                    <span *ngSwitchCase="'bttvEmote'"><img class="cc-inline-block chat-emote" [src]="f.src" [alt]="f.name" >&nbsp;</span>
                    <span *ngSwitchCase="'cheermote'"><img class="cc-inline-block chat-emote" [src]="f.src" [alt]="f.name" >&nbsp;</span>
                    <span *ngSwitchDefault>
                        {{f.text}}
                    </span>
                </span>
            </span>
        </div>
        <div *ngIf="msg.isSub && settings.subs" class="chat-message">
            
        </div>
    </div>
</div>