<h5 mat-dialog-title>Settings</h5>
<div class="cc-flex-grow-1 cc-margin-0 scrollbar" mat-dialog-content>
    <div class="cc-flex cc-flex-column cc-flex-grow-1 cc-pd-x-2 cc-pd-b-2">

        <h5 class="cc-full-width cc-pd-b-1">Appearance</h5>
        
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="lightTheme">Light theme</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="alternate">Alternate line colors</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="separators">Enable chat separators</mat-checkbox>                
        
        <h5 class="cc-full-width cc-pd-b-1 cc-pd-t-1">Display</h5>

        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="timestamps">Timestamps</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="charCount">Message character count</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="subs">Subscription messages</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="bits">Bit donations</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="badges">User badges</mat-checkbox>

        <h5 class="cc-full-width cc-pd-b-1 cc-pd-t-1">Emote Display</h5>
        
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="twitchEmotes">Twitch emotes</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="ffzEmotes">FFZ emotes</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="bttvEmotes">BTTV emotes</mat-checkbox>
        
        <h5 class="cc-full-width cc-pd-b-1 cc-pd-t-1">Functionality</h5>
        
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="duplicates" disabled>Allow duplicate chat messages</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="emotePriority" disabled>Prioritize emotes for autocomplete</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="anonymous" disabled>Don't appear in chat rooms</mat-checkbox>
        <mat-form-field color="accent" class="cc-margin-0">
            <input matInput class="cc-pd-b-05" type="number" placeholder="Max chat history" min="50" max="300" [(ngModel)]="maxHistory">
        </mat-form-field>

        <h5 class="cc-full-width cc-pd-b-1 cc-pd-t-1">Highlight and Ignore</h5>

        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="highlightName">Highlight messages containing your name</mat-checkbox>
        <mat-checkbox class="cc-pd-b-05" [(ngModel)]="flash" disabled>Flash on notification</mat-checkbox>

        <div class="cc-full-width cc-pd-b-1 cc-pd-t-1">
            <mat-form-field color="accent" appearance="outline" class="cc-full-width cc-margin-0">
                <mat-label>Highlighted Words</mat-label>
                <textarea matNativeControl class="cc-font-size-6" style="min-height:75px" placeholder="Highlighted keywords, separated by comma" [(ngModel)]="highlight"></textarea>    
            </mat-form-field>
        </div>
        <div class="cc-full-width cc-pd-b-1">
            <mat-form-field color="accent" appearance="outline" class="cc-full-width cc-margin-0">
                <mat-label>Blacklisted Words</mat-label>
                <textarea matNativeControl class="cc-font-size-6" style="min-height:75px" placeholder="Blacklisted keywords, separated by comma" [(ngModel)]="blacklist"></textarea>    
            </mat-form-field>
        </div>
        <div class="cc-full-width cc-pd-b-1">
            <mat-form-field color="accent" appearance="outline" class="cc-full-width cc-margin-0">
                <mat-label>Ignored Users</mat-label>
                <textarea matNativeControl class="cc-font-size-6" style="min-height:75px" placeholder="Ignored users, separated by comma" [(ngModel)]="ignored"></textarea>    
            </mat-form-field>
        </div>
    </div>
</div>