<div class="cc-flex-grow-1 cc-margin-0 scrollbar" mat-dialog-content>
    <div class="cc-flex cc-flex-column cc-flex-grow-1 cc-pd-t-1 cc-pd-x-2 cc-pd-b-2">

        <div class="cc-full-width cc-pd-b-1 cc-pd-t-1">Appearance</div>
        
        <mat-checkbox [(ngModel)]="data.lightTheme" (click)="setTheme(!data.lightTheme)">Light theme</mat-checkbox>
        <div class="cc-pd-b-05"></div>
        <mat-checkbox [(ngModel)]="data.alternate">Alternate line colors</mat-checkbox>
        <div class="cc-pd-b-05"></div>
        <mat-checkbox [(ngModel)]="data.separators">Enable chat separators</mat-checkbox>
        <div class="cc-pd-b-05"></div>                    
        <mat-checkbox [(ngModel)]="data.flash">Flash on notification</mat-checkbox>
        
        <div class="cc-full-width cc-pd-b-1 cc-pd-t-1">Display</div>


        <mat-checkbox [(ngModel)]="data.timestamps">Timestamps</mat-checkbox>
        <div class="cc-pd-b-05"></div>
        <mat-checkbox [(ngModel)]="data.charCount">Message character count</mat-checkbox>
        <div class="cc-pd-b-05"></div>
        <mat-checkbox [(ngModel)]="data.subs">Subscriptions</mat-checkbox>
        <div class="cc-pd-b-05"></div>
        <mat-checkbox [(ngModel)]="data.bits">Bits</mat-checkbox>
        <div class="cc-pd-b-05"></div>
        <mat-checkbox [(ngModel)]="data.badges">Badges</mat-checkbox>

        
        <div class="cc-full-width cc-pd-b-1 cc-pd-t-1">Enable Emotes</div>
        
        <mat-checkbox [(ngModel)]="data.twitchEmotes">Twitch Emotes</mat-checkbox>
        <div class="cc-pd-b-05"></div>
        <mat-checkbox [(ngModel)]="data.bttv">BTTV</mat-checkbox>
        <div class="cc-pd-b-05"></div>                    
        <mat-checkbox [(ngModel)]="data.ffz">FFZ</mat-checkbox>
        <div class="cc-pd-b-05"></div>                    
        <mat-checkbox [(ngModel)]="data.gifs">Animated GIFs</mat-checkbox>
        
        <div class="cc-full-width cc-pd-b-1 cc-pd-t-1">Functionality</div>
        
        <mat-checkbox [(ngModel)]="data.duplicates">Allow duplicate chat messages</mat-checkbox>
        <div class="cc-pd-b-05"></div>
        <mat-checkbox [(ngModel)]="data.emotePriority">Prioritize emotes for autocomplete</mat-checkbox>
        <div class="cc-pd-b-05"></div>
        <mat-checkbox [(ngModel)]="data.anonymous" disabled>Don't appear in chat rooms</mat-checkbox>
        <div class="cc-pd-b-05"></div>
        <mat-checkbox [(ngModel)]="data.stopScroll">Stop scrolling on mouse activity</mat-checkbox>

        <div class="cc-full-width cc-pd-y-1">
            <div class="cc-full-width cc-pd-b-1 cc-text-alt-2">Highlight Words</div>
            <textarea class="cc-block cc-border-radius-medium cc-font-size-6 cc-full-width cc-textarea" style="min-height:75px" placeholder="Highlighted keywords, separated by comma" [(ngModel)]="data.highlight"></textarea>    
        </div>
        <div class="cc-full-width cc-pd-b-1">
            <div class="cc-full-width cc-pd-b-1 cc-text-alt-2">Blacklist Words</div>
            <textarea class="cc-block cc-border-radius-medium cc-font-size-6 cc-full-width cc-textarea" style="min-height:75px" placeholder="Blacklisted keywords, separated by comma" [(ngModel)]="data.blacklist"></textarea>    
        </div>
        <div class="cc-full-width cc-pd-b-1">
            <div class="cc-full-width cc-pd-b-1 cc-text-alt-2">Ignored Users</div>
            <textarea class="cc-block cc-border-radius-medium cc-font-size-6 cc-full-width cc-textarea" style="min-height:75px" placeholder="Ignored users, separated by comma" [(ngModel)]="data.ignored"></textarea>    
        </div>
    </div>
</div>